@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Automotive Catalog</h1>
    <p>Каталогът който е лесен за използване и ще ви помогне да направите своя избор за следващо превозно средство!</p>
</div>
